@use "../globals/root" as r;

.product {
    &__container {
       display: grid;
       grid-template-columns: 1fr;
       gap: 2rem;
       @include r.media(760px){
        grid-template-columns: 1fr 1fr;
       } 
       @include r.media(1440px){
        grid-template-columns: 1fr 1fr 1fr;
       } 
    }


    &__wrapper-img {
        position: relative;
        height: 15rem;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 2.8rem;
        @include r.media(760px){
            height: 18rem;
        }
        @include r.media(1440px){
            height: 15rem;
        }
    }

    &__cart-btn {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
        border-radius: 100px;

        width: 12rem;
        height: 3.2rem;

        @include r.media(1440px){
            width: 9.5rem;
            height: 2.8rem; 
        }

        .cart-icon {
            height: 1.6rem;
            object-fit: contain;
            @include r.media(1440px){
                height: 1.4rem;
            }
        }
    }

    &__cart-btn-add {
        background-color: white;
        display: flex;
        display: none;
        flex-direction: row-reverse;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--rose-400);
        font-weight: var(--fw-600);
        font-size: var(--fz-small);
    }

    &__cart-btn-quantity {
        background-color: var(--red);
        font-size: var(--fz-medium);
        font-weight: var(--fw-400);
        padding-inline: 0.8rem;
        color: var(--rose-50);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .plus-item,
        .minus-item {
            background-color: transparent;
            border: 2px solid var(--rose-50);
            padding: 0.15rem;
            border-radius: 100px;
            font-size: 1px;
            height: 17px;
            aspect-ratio: 1;
        }
    }

    &__category {
        font-size: var(--fz-medium);
        font-weight: 500;
        color: var(--rose-500);
    }

    &__name {
        font-weight: var(--fw-600);
        color: var(--rose-900);
        font-size: var(--fz-medium-big);
        margin-block: 0.3rem;
    }

    &__price{
        font-weight: var(--fw-600);
        color: var(--red);
        font-size: var(--fz-medium-big);
    }
}