@use "./root" as r;

body {
    background-color: var(--rose-50);
    font-family: var(--ff-main);
    position: relative;
}

.section-title {
    font-size: var(--fz-bigger);
    font-weight: var(--fw-700);
    margin-bottom: 2rem;
    @include r.media(1440px){
        margin-bottom: 1.5rem;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 1;

    width: 88dvw;
    margin: 0 auto;
    padding-top: 1rem;
    @include r.media(760px){
        width: 90dvw;
        padding-top: 3.5rem;
    }
    @include r.media(1440px){
        width: fit-content;
        flex-direction: row;
    }
}
