@use "../globals/root" as r;

#cart-section {
    background-color: white;
    border-radius: 15px;
    padding: 1.8rem 2rem;
    height: fit-content;
    @include r.media(1440px){
        width: 25rem;
        padding: 1.5rem 2rem;
    }

}

.wrapper-cart-with-items {
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 0.8rem;
}

.wrapper-cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.graph-empty {
    height: 10rem;
    object-fit: contain;
    @include r.media(1440px){
        height: 9rem;
    }
}

.cart {
    &__title {
        font-size: var(--fz-big);
        color: var(--red);
    }

    &__text-empty {
        font-size: var(--fz-medium);
        font-weight: 500;
        color: var(--rose-500);
        text-align: center;
        text-wrap: balance;
    }
}

.total-bill {
    display: flex;
    justify-content: space-between;

    &__text {
        font-weight: var(--fw-600);
        color: var(--rose-500)
    }

    &__cost {
        font-weight: var(--fw-700);
        color: var(--rose-900);
        font-size: var(--fz-big);
    }
}

#confirm-order {
    border: none;
    border-radius: 100px;
    padding: 1.1rem 2rem;
    background-color: var(--red);
    color: var(--rose-50);
    font-weight: var(--fw-600);
    cursor: pointer;
    transition: all 150ms ease;
}

.carbon-neutral {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        border-radius: 8px;
        background-color: var(--rose-50);
        padding-block: 1rem;
    }

    &__icon {
        height: 25px;
        object-fit: contain;
    }
}

#confirm-order:hover {
    background-color: hsl(13, 79%, 30%);
}